body {
    margin: 40px;
    line-height: 1.6;
    background: #0f0f0f;
    color: #509b46;
    font-family: 'Courier New', monospace;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
}

.menu{
    height: 5rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color:rgb(0, 134, 0);
}
