body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
    background-color: rgb(36, 36, 36);
    margin: 0 auto;
    text-align: center;
}

.menu{
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    padding-left: 20px;
}

strong {
    color: #0074d9;
}

.container{
    width: 300px;
    margin: 0 auto;
    color: #992d2d;
}

.menu a {
    color: rgb(0, 0, 0);
    /* normal link color */
    text-decoration: none;
    /* optional: removes underline */
}

a:hover {
    color: rgb(122, 122, 122);
    /* when you hover over the link */
}

a:active {
    color: rgb(231, 231, 231);
    /* when the link is clicked */
}