body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    padding-left: 20px;
}

strong {
    color: #0074d9;
}

.container{
    width: 300px;
    margin: 0 auto;
}